@import "../global";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
.nothing__section_h2 {
  font-weight: 900;
  font-size: 46px;
  line-height: 64px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.nothing__section_p {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.1px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.nothing__section_btn {
  padding: 13px 26px;
  background: #ffc000;
  border-radius: 6px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0d0d0d;
}
