@import "../global";

#about {
  .sec-1 {
    padding-bottom: 30px;
    background: #E5E5E5;

    h1 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      color: #000000;
    }

    .row {
      .sec1-left {
        padding-bottom: 150px;

        h2 {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          color: #000000;
          padding-top: 75px;
        }

        p {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: #000000;
          padding-top: 25px;
        }
      }

      .sec2-right {
        padding-bottom: 80px;
        img{
          padding-right: 0px;
        }
        img:hover {
          transform: scale(1.1);
          transition-duration: 0.5s;
          box-shadow: #0F0D2B 0px 8px 10px 5px;
        }
      }
    }

    @media screen and (max-width:992px) {
      .sec2-right {
        img {
          width: 100%;
        }
      }
    }
  }


  // section2----------

  .sec-2 {
    .container {
      .row {
        padding: 30px 30px;

        img {
          padding-bottom: 50px;
        }

      }
    }

    .col-md-4:hover {
      transform: scale(1.1);
      transition-duration: 0.5s;
      
    }

  }

  // section3--------
  .sec-3 {
    background-image: linear-gradient(#e5e5e5 0 40%,
        #0F0D2B 40% 100%,
      );
    padding-bottom: 50px;

    .row {
      padding-top: 50px;

      img {
        width: 100%;
      }

      h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        color: #ffffff;
        padding-top: 350px;
      }

      p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        padding-bottom: 25px;
      }

      button:hover {
        font-size: 30px;
        background-color: #e1aa00;
      }
    }

    @media screen and (max-width:900px) {
      .row {
        .sec3-top {
          height: 600px;
        }
      }
    }

    @media screen and (max-width:700px) {
      .row {
        .sec3-top {
          height: 400px;
        }
      }
    }

    @media screen and (max-width:470px) {
      .row {
        .sec3-top {
          height: 200px;
        }
      }
    }

    @media screen and (max-width:400px) {
      .row {
        .sec3-top {
          height: 150px;
        }
      }
    }
  }
}
// section4-----------

.sec-4{
  background: #E5E5E5;
  padding-top: 150px;
  padding-bottom: 65px;
  .sec4-right{
    h1{
      font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 46px;
        color: #000000;
    }
    .col-5{
      h2{
        font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          color: #000000;
      }
      p{
        font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          color: #000000;
      }
    }
  }
}
