@import "../global";

#categories {
  #categories__wear {&__title {
      font-weight: 700;
      font-size: 34px;
      line-height: 140%;
      letter-spacing: 0.25px;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #000000;
    }
    .row {
      
  
      &__img__title {
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;   
      letter-spacing: 0.02em;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #000000;
    
    }
    }
    
    
  }


}
