@import "../global";

@mixin title_text {
  font-weight: 900;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  color: #000000;
}

#checkout {
  .chekbox {
    .chekbox_title {
      padding-top: 64px;
      padding-bottom: 80px;
      @include title_text;
    }
    form {
      .chekbox_left {
        .chekbox_text {
          background-color: #ffc000;
          max-width: 500px;
          max-height: 100px;
          padding: 20px;

          p {
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            align-items: flex-end;
            letter-spacing: 0.15px;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #0d0d0d;
          }
        }
        .chekbox_cards {
          padding-top: 40px;
          .cards {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: space-between;
            max-width: 500px;
          }
        }
      }
      .chekbox_right {
        input {
          max-height: 54px;
          padding: 12px 10px;
          border: none;
          background: #f1f1f1;
        }
        .bnt_chekbox_right {
          input {
            background-color: #ffc000;
          }
        }
      }
    }
  }
}
